{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - section_id: {String}
  - tab1_title: {String}
  - tab1_content: {String}
  - tab2_title: {String}
  - tab2_content: {String}
  - tab3_title: {String} 
  - tab3_content: {String}
  Usage:
  {% render 'tabs', tab1_title: 'title', tab1_content: 'Tab content' %}
{% endcomment %}

<custom-tabs>
  <div class="custom-tabs__container">
    <ul class="custom--tabs">
      <li class="tab__list">
        <h4
          class="custom-tab custom-tab-title--1"
          data-content-id="content--1--{{ section.id }}"
        >
          {{ tab1_title }}
        </h4>
      </li>
      {%- if tab2_title != blank -%}
        <li class="tab__list">
          <h4
            class="custom-tab custom-tab-title--1"
            data-content-id="content--2--{{ section.id }}"
          >
            {{ tab2_title }}
          </h4>
        </li>
      {%- endif -%}
      {%- if tab3_title != blank -%}
        <li class="tab__list">
          <h4
            class="custom-tab custom-tab-title--1"
            data-content-id="content--3--{{ section.id }}"
          >
            {{ tab3_title }}
          </h4>
        </li>
      {%- endif -%}
    </ul>

    <div
      class="custom__tab-content content--1--{{ section.id }}"
    >
      {{ tab1_content }}
    </div>
    {%- if tab2_title != blank -%}
      <div
        class="custom__tab-content content--2--{{ section.id }}"
      >
        {{ tab2_content }}
      </div>
    {%- endif -%}
    {%- if tab3_title != blank -%}
      <div
        class="custom__tab-content content--3--{{ section.id }}"
      >
        {{ tab3_content }}
      </div>
    {%- endif -%}
  </div>
</custom-tabs>