{{ 'section-comparison-table-hb.css' | asset_url | stylesheet_tag }}
{{ 'section-multicolumn-hb.css' | asset_url | stylesheet_tag }}
{{ 'component-slider-hb.css' | asset_url | stylesheet_tag }}
{{ 'section-hero-hb.css' | asset_url | stylesheet_tag }}

{% style %}
  #ComparisonTable-{{ section.id }} .comparison-table {
    border-radius: {{ section.settings.corner_radius }}px;
    border: {{ section.settings.border_width }}px solid #6688EC;
    padding: {{ section.settings.inner_padding }}px;
    background-color: var(--color-foreground);
  }
  #ComparisonTable-{{ section.id }} .comparison-table__title {
    font-size: {{ section.settings.heading_size }}px;
  }
  #ComparisonTable-{{ section.id }} {
    padding-top: {{ section.settings.outer_padding_top }}px;
    padding-bottom: {{ section.settings.outer_padding_bottom }}px;
  }
  #ComparisonTable-{{ section.id }} .comparison-table {
    background-color: rgb(var(--color-background));
  }


  /* #ComparisonTable-{{ section.id }} .comparison-table__image--left {
    background: center center no-repeat url({{ section.settings.first_image }});
  }

  #ComparisonTable-{{ section.id }} .comparison-table__image--right {
    background: center center no-repeat url({{ section.settings.second_image }});
  } */

  @media screen and (max-width: 749px) {
    #ComparisonTable-{{ section.id }} .comparison-table__title {
      font-size: {{ section.settings.heading_size | times: 0.5 | round: 0 }}px;
    }

    #ComparisonTable-{{ section.id }} .comparison-table {
      padding: {{ section.settings.inner_padding | times: 0.5 }}px;
    }
  }
{% endstyle %}

<div
  id="ComparisonTable-{{ section.id }}"
  class="banner comparison-table-hb color-{{ section.settings.color_scheme }} gradient"
>
  {%- if section.settings.image != blank -%}
    <div class="banner__media media">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        assign full_width = '100vw'
        assign sizes = full_width
        assign fetch_priority = 'auto'
        assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          height: image_height,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
  <div class="page-width comparison-table-container">
    <div class="comparison-table isolate color-{{ section.settings.table_color_scheme }} gradient">
      {%- if section.settings.heading != blank -%}
        <div class="comparison-table__heading h1">{{ section.settings.heading }}</div>
      {%- endif -%}
      {%- if section.settings.subheading != blank -%}
        <div class="comparison-table__subheading">{{ section.settings.subheading }}</div>
      {%- endif -%}
      {%- if section.settings.first_image != blank and section.settings.second_image != blank -%}
        <div class="comparison-table__head">
          <div class="comparison-table__image comparison-table__image--left">
            {{
              section.settings.first_image
              | image_url: width: 3084
              | image_tag:
              width: nil,
                sizes: '(min-width: 750px) 300px, 200px',
                widths: '300, 200',
                heights: '300, 200',
                fetchpriority: fetch_priority
            }}
          </div>
          <div class="comparison-table__image comparison-table__image--right">
            {{
              section.settings.second_image
              | image_url: width: 3084
              | image_tag:
                width: nil,
                sizes: '(min-width: 750px) 300px, 200px',
                fetchpriority: fetch_priority
            }}
          </div>
        </div>
      {%- endif -%}
      <div class="comparison-table__head">
        <div class="comparison-table__title option-title option-title--left">
          {{ section.settings.first_title }}
        </div>
        <div class="checkmarks"></div>
        <div class="comparison-table__title option-title option-title--right">
          {{ section.settings.second_title }}
        </div>
      </div>
      {%- for block in section.blocks -%}
        <div class="comparison-table__row comparison-table__row--{{ forloop.index | modulo: 2 }}">
          <div class="option--row option option--left">
            <div>{{ block.settings.first_description }}</div>
          </div>

          <div class="checkmarks">
            <div class="checkmark">
              {% if block.settings.first_check %}
                {% render 'icon-checkmark-circle-full', color: '#A8C73E', size: '100%' %}
              {% else %}
                {% render 'icon-cancel-circle-full', color: '#F44538', size: '100%' %}
              {% endif %}
            </div>
            
            <div class="checkmark">
              {% if block.settings.second_check %}
                {% render 'icon-checkmark-circle-full', color: '#A8C73E', size: '100%' %}
              {% else %}
                {% render 'icon-cancel-circle-full', color: '#F44538', size: '100%' %}
              {% endif %}
            </div>
          </div>
          
          <div class="option--row option option--right">
            {{ block.settings.second_description }}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Comparison table HB",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "Subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "first_title",
      "default": "First title",
      "label": "First title"
    },
    {
      "type": "text",
      "id": "second_title",
      "default": "Second title",
      "label": "Second title"
    },
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "First image"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "Second image"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "heading_size",
      "default": 0
    },
    {
      "type": "range",
      "id": "corner_radius",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "corner radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 40,
      "step": 0.5,
      "unit": "px",
      "label": "Border width",
      "default": 0
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "table_color_scheme",
      "label": "Table color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "inner_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Inner padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "outer_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Outer padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "outer_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Outer padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "first_description",
          "label": "First description"
        },
        {
          "type": "checkbox",
          "id": "first_check",
          "default": true,
          "label": "First checkbox"
        },
        {
          "type": "text",
          "id": "second_description",
          "label": "Second description"
        },
        {
          "type": "checkbox",
          "id": "second_check",
          "default": false,
          "label": "Second checkbox"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Presets",
      "blocks": [
        {
          "type": "row"
        },
        {
          "type": "row"
        },
        {
          "type": "row"
        }
      ]
    }]
}
{% endschema %}
