{{ 'section-hb-table.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding .table__container {
    max-width: {{ section.settings.desktop_max_width }}px;
    padding: {{ section.settings.vertical_margin }}px 0;
    margin: 0 auto;
  }
{%- endstyle -%}

<section
  id="HBTable-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
>
  <div class="table__container">
    <div class="hb-table-main-header">
      <div class="hb-table-main-header--left">
        {%- for block in section.blocks -%}
          {%- if block.type == 'main_header' and block.settings.position == 'left' -%}
            <div class="{{ block.settings.heading_size }}">
              {{ block.settings.text }}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="hb-table-main-header--right">
        {%- for block in section.blocks -%}
          {%- if block.type == 'main_header' and block.settings.position == 'right' -%}
            <div class="{{ block.settings.heading_size }}">
              {{ block.settings.text }}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>

    {%- for block in section.blocks -%}
      {%- if block.type == 'row' -%}
        <div class="hb-table-row" style="padding: {{ block.settings.vertical_padding }}px 0; border-bottom-width: {{ block.settings.bottom_border_width }}px">
          <div style="margin-left: {{ block.settings.indent | times: 16 }}px; ">
            {{ block.settings.item }}
          </div>
          <div class="hb-table-row__right-container">
            <div class="hb-table-row__amount">{{ block.settings.item_amount }}</div>
            <div class="hb-table-row__percent"> {{ block.settings.item_percentage }}</div>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    {%- for block in section.blocks -%}
      {%- if block.type == 'info' -%}
        <div class="additional-info" style="padding: {{ block.settings.vertical_padding }}px 0; border-bottom-width: {{ block.settings.bottom_border_width }}px">
          {{ block.settings.text }}
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>


{% schema %}
  {
    "name": "Hb table",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-8"
      },
      {
        "type": "range",
        "id": "desktop_max_width",
        "min": 500,
        "max": 1200,
        "step": 50,
        "unit": "px",
        "default": 1000,
        "label": "Desktop maximum width"
      },
      {
        "type": "range",
        "id": "vertical_margin",
        "min": 0,
        "max": 500,
        "step": 5,
        "unit": "px",
        "default": 200,
        "label": "Vertical margin"
      }
    ],
    "blocks": [
      {
        "type": "main_header",
        "name": "Main header",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "label": "Position"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              },
              {
                "value": "hextra",
                "label": "Extra large"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      },
      {
        "type": "row",
        "name": "Row",
        "settings": [
          {
            "type": "range",
            "id": "indent",
            "min": 0,
            "max": 4,
            "step": 1,
            "default": 0,
            "label": "Indent"
          },
          {
            "type": "inline_richtext",
            "id": "item",
            "label": "Item text"
          },
          {
            "type": "inline_richtext",
            "id": "item_amount",
            "label": "Item amount"
          },
          {
            "type": "inline_richtext",
            "id": "item_percentage",
            "label": "Item percent"
          },
          {
            "type": "range",
            "id": "bottom_border_width",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 0,
            "unit": "px",
            "label": "Bottom border width"
          },
          {
            "type": "range",
            "id": "vertical_padding",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 4,
            "unit": "px",
            "label": "Vertical padding"
          }
        ]
      },
      {
        "type": "info",
        "name": "Additional info",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "range",
            "id": "bottom_border_width",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 0,
            "unit": "px",
            "label": "Bottom border width"
          },
          {
            "type": "range",
            "id": "vertical_padding",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 4,
            "unit": "px",
            "label": "Vertical padding"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "HB Table",
        "blocks": []
      }
    ]
  }
{% endschema %}
  