{{ 'section-comparison-table-hb.css' | asset_url | stylesheet_tag }}

{% style %}
  #ComparisonTable-{{ section.id }} .comparison-table {
    border-radius: {{ section.settings.corner_radius }}px;
    border: {{ section.settings.border_width }}px solid #6688EC;
    padding: {{ section.settings.inner_padding }}px;
    background-color: var(--color-foreground);
  }
  #ComparisonTable-{{ section.id }} .comparison-table__title {
    font-size: {{ section.settings.heading_size }}px;
  }
  #ComparisonTable-{{ section.id }} {
    padding-top: {{ section.settings.outer_padding_top }}px;
    padding-bottom: {{ section.settings.outer_padding_bottom }}px;
  }
{% endstyle %}

<div
  id="IngredientSection-{{ section.id }}"
  class="ingedient-section color-{{ section.settings.color_scheme }} gradient"
>
  <div class="page-width comparison-table-container">
    <div class="ingredient-section">
      <h2
        class="inline-richtext {{ block.settings.heading_size }}"
        {{ block.shopify_attributes }}
      >
        {{ block.settings.heading }}
      </h2>
      {%- for block in section.blocks -%}
        <div class="comparison-table__row comparison-table__row--{{ forloop.index | modulo: 2 }}">
          <div class="option--row option">
            <div>{{ block.settings.first_description }}</div>
            
          </div>

          <div class="checkmarks">
            {% if block.settings.first_check %}
              {% render 'icon-checkmark-circle' %}
            {% else %}
              {% render 'icon-cancel-circle' %}
            {% endif %}

            {% if block.settings.second_check %}
              {% render 'icon-checkmark-circle' %}
            {% else %}
              {% render 'icon-cancel-circle' %}
            {% endif %}
          </div>
          
          <div class="option--row option">
            {{ block.settings.second_description }}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ingredient section HB",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Image banner",
      "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Caption",
          "label": "Caption"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "dairy_free",
              "label": "Dairy free"
            },
            {
              "value": "non_gmo",
              "label": "Non gmo"
            },
            {
              "value": "vegan",
              "label": "Vegan"
            },
            {
              "value": "soy_free",
              "label": "Soy free"
            },
            {
              "value": "no_added_sugar",
              "label": "No added sugar"
            },
            {
              "value": "no_caffeine",
              "label": "No caffeine"
            }
          ],
          "default": "non_gmo",
          "label": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Presets",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }]
}
{% endschema %}
