{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - section_id: {String}
  - tab1_title: {String}
  - tab1_content: {String}
  - tab2_title: {String}
  - tab2_content: {String}
  - tab3_title: {String} 
  - tab3_content: {String}
  Usage:
  {% render 'tabs', tab1_title: 'title', tab1_content: 'Tab content' %}
{% endcomment %}


{%- style -%}
  #Qna-{{ section.id }} {
    padding: 64px 20px;
  }

  #Qna-{{ section.id }} .custom-tabs__container {
    width: 100%;    
  }

  #Qna-{{ section.id }} .banner__heading {
    text-align: center;
  }

  #Qna-{{ section.id }} .accordion-hb {
    margin-top: 2.5rem;
    border-bottom: 1px solid rgb(var(--color-link));
  }
{%- endstyle -%}

<section
  id="Qna-{{ section.id }}"
  class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
  data-section="{{ section.id }}"
>
  <div class="tabs-section__container">

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <div
            class="banner__heading inline-richtext {{ block.settings.heading_size }}"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.heading }}
          </div>
      {%- endcase -%}
    {%- endfor -%}
    <custom-tabs>
      <div class="custom-tabs__container">
        <ul class="custom--tabs">
          {%- for block in section.blocks -%}
            {%- if block.type == 'tab_header' -%}
              <li class="tab__list">
                <h4
                  class="custom-tab custom-tab-title--{{ block.settings.tab_number }}"
                  data-content-id="content--{{ block.settings.tab_number }}--{{ section.id }}"
                >
                  {{ block.settings.title }}
                </h4>
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>

        {%- for block in section.blocks -%}
          {%- if block.type == 'collapsible_tab' -%}
            <div
              class="custom__tab-content content--{{ block.settings.tab_number }}--{{ section.id }}"
            >
              <div class="product__accordion accordion-hb quick-add-hidden" {{ block.shopify_attributes }}>
                <details id="Details-{{ block.id }}-{{ section.id }}">
                  <summary>
                    <div class="summary__title">
                      <h2 class="h4 accordion__title inline-richtext">
                        {{ block.settings.heading }}
                      </h2>
                    </div>
                    {% render 'icon-caret' %}
                  </summary>
                  <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                    {{ block.settings.content }}
                    {{ block.settings.page.content }}
                  </div>
                </details>
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </custom-tabs>
  </div>
</section>


{% schema %}
  {
    "name": "Homepage top HB",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-8"
      },
      {
        "type": "checkbox",
        "id": "include_all_tab",
        "label": "Include all tab",
        "default": false
      },
      {
        "type": "text",
        "id": "initialy_selected_tab",
        "label": "Initialy selected tab"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.image-banner.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Q&A",
            "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "t:sections.all.heading_size.options__1.label"
              },
              {
                "value": "h1",
                "label": "t:sections.all.heading_size.options__2.label"
              },
              {
                "value": "h0",
                "label": "t:sections.all.heading_size.options__3.label"
              },
              {
                "value": "hextra",
                "label": "Extra large"
              }
            ],
            "default": "h1",
            "label": "t:sections.all.heading_size.label"
          }
        ]
      },
      {
        "type": "tab_header",
        "name": "Tab Header",
        "settings": [
          {
            "type": "number",
            "id": "tab_number",
            "default": 1,
            "label": "Tab number"
          },
          {
            "type": "inline_richtext",
            "id": "title",
            "default": "Tab",
            "label": "Tab title"
          }
        ]
      },
      {
        "type": "collapsible_tab",
        "name": "t:sections.main-product.blocks.collapsible_tab.name",
        "settings": [
          {
            "type": "number",
            "id": "tab_number",
            "default": 1,
            "label": "Tab number"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Collapsible row",
            "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
          },
          {
            "type": "page",
            "id": "page",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.image-banner.presets.name",
        "blocks": []
      }
    ]
  }
  {% endschema %}
  