{{ 'component-slider-hb.css' | asset_url | stylesheet_tag }}
{{ 'component-review-slideshow-hb.css' | asset_url | stylesheet_tag }}
{{ 'section-hero-hb.css' | asset_url | stylesheet_tag }}

{%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before,
      #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}


{%- style -%}
  {%- if section.settings.gradient != blank -%}
    .section-{{ section.id }} .slideshow--gradient {
      background: {{ section.settings.gradient }};
    }
  {%- endif -%}

  .section-{{ section.id }} .slider-button--prev {
    left: 100px;
  }


  .section-{{ section.id }} .slider-button--next {
    right: 100px;
  }

  .section-{{ section.id }} .slideshow {
    position: relative;
  }

  .section-{{ section.id }} .slide__content {
    border-radius: {{ section.settings.corner_radius }}px;
    border: {{ section.settings.border_width }}px solid rgb(var(--color-button));
    padding: {{ section.settings.slide_inner_padding }}px;
  }

  .section-{{ section.id }} .review-quote {
    font-family: {{ section.settings.quote_font }};
  }


  .section-{{ section.id }} .review-text {
    font-size: {{ section.settings.review_font_size }}px;
  }  


  @media screen and (min-width: 750px) {
    .section-{{ section.id }} .slider-button {
      z-index: 5;
      position: absolute;
      display: flex;
      align-items: center;
      height: 100%;
      top: 0;
    }
  }

  @media screen and (max-width: 749px) {
    .section-{{ section.id }} .slider-button {
      display: none;
    }

    .section-{{ section.id }} .slide__content {
      padding: {{ section.settings.slide_inner_padding | times: 0.5 }}px;
      margin: 0px 10px;
    }
    .section-{{ section.id }} .five-star__container--top {
      margin-bottom: 25px;
    }
    .section-{{ section.id }} .banner__text {
      line-height: 2.5rem;
    }
    .section-{{ section.id }} .verified-buyer__container {
      margin: 0;
    }
    .section-{{ section.id }} .slideshow {
      padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }

    .banner--mobile-transparent {
      background: transparent;
    }
    
    .section-{{ section.id }} .review-text {
      font-size: {{ section.settings.review_font_size | times: 0.75 }}px;
    }  

  }
{%- endstyle -%}

<slideshow-component
  class="section-{{ section.id }} color-{{ section.settings.color_scheme }} gradient  slider-mobile-gutter{% if section.settings.layout == 'grid' %} page-width{% endif %}{% if section.settings.show_text_below %} mobile-text-below{% endif %}{% if section.settings.gradient != blank %} slideshow--gradient{% endif %}"
  role="region"
  aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
  aria-label="{{ section.settings.accessibility_info | escape }}"
> 
  
  {%- for block in section.blocks -%}
    {%- if block.type == 'five-star-rating' -%}
      <div class="five-star__container five-star__container--top {{ section.settings.desktop_content_position }}">
        {%- liquid render 'icon-star', color: 'rgb(var(--color-button))' -%}
        {%- liquid render 'icon-star', color: 'rgb(var(--color-button))' -%}
        {%- liquid render 'icon-star', color: 'rgb(var(--color-button))' -%}
        {%- liquid render 'icon-star', color: 'rgb(var(--color-button))' -%}
        {%- liquid render 'icon-star', color: 'rgb(var(--color-button))' -%}
        <div>
          {{ block.settings.rating }}
        </div>
        <div class="five-star__desc">
          {{ block.settings.heading }}
        </div>
      </div>
    {%- endif -%}
    {%- if block.type == 'heading' -%}
      <h2
        class="center inline-richtext {{ block.settings.heading_size }}" style="margin-bottom: 0px;"
        {{ block.shopify_attributes }}
      >
        {{ block.settings.heading }}
      </h2>
    {%- endif -%}
  {%- endfor -%}
  <div>
  <div style="position: relative">
    <button
      type="button"
      class="slider-button slider-button--prev"
      name="previous"
      aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
      aria-controls="Slider-{{ section.id }}"
      >
      {%- liquid render 'icon-caret', width: 44, height: 44 -%}
    </button>
    <div
      class="slideshow banner banner--{{ section.settings.slide_height }} grid grid--1-col slider color-{{ block.settings.color_scheme }} slider--everywhere{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
      id="Slider-{{ section.id }}"
      aria-live="polite"
      aria-atomic="true"
      data-autoplay="{{ section.settings.auto_rotate }}"
      data-speed="{{ section.settings.change_slides_speed }}"
    >
      {%- for block in section.blocks -%}
        {%- if block.type == 'slide' -%}
          <style>
            #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
              opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
            }
          </style>
          <div
            class="slideshow__slide grid__item grid--1-col slider__slide"
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            {{ block.shopify_attributes }}
            role="group"
            aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
            aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
            tabindex="-1"
          >
            <div class="slideshow__text-wrapper banner__content banner__content--{{ block.settings.box_align }} page-width{% if block.settings.show_text_box == false %} banner--desktop-transparent banner--mobile-transparent{% endif %}{% if settings.animations_reveal_on_scroll and forloop.index == 1 %} scroll-trigger animate--slide-in{% endif %}">
              <div class="slide__content slideshow__text banner__box content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} slideshow__text--{{ block.settings.text_alignment }} slideshow__text-mobile--{{ block.settings.text_alignment_mobile }}">
                {%- if block.settings.review != blank -%}
                  <h2 class="banner__text rte review-text">
                    {{ block.settings.review }}
                  </h2>
                {%- endif -%}
                {%- if block.settings.five_star != blank -%}
                  <div class="five-star__container">
                    {%- liquid render 'icon-star', color: '#E2BF08' -%}
                    {%- liquid render 'icon-star', color: '#E2BF08' -%}
                    {%- liquid render 'icon-star', color: '#E2BF08' -%}
                    {%- liquid render 'icon-star', color: '#E2BF08' -%}
                    {%- liquid render 'icon-star', color: '#E2BF08' -%}
                  </div>
                {%- endif -%}
                {%- if block.settings.quote != blank -%}
                  <div class="child--no-bottom-whitespace review-quote">{{ block.settings.quote }}</div>
                {%- endif -%}
                {%- if block.settings.verified_buyer != blank -%}
                  <div class="verified-buyer__container">
                    {%- liquid render 'icon-checkmark-circle-full', color: 'rgba(96, 111, 181, 1)' -%}
                    <div style="margin-left: 8px">Verified buyer</div>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
    <button
      type="button"
      class="slider-button slider-button--next"
      name="next"
      aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
      aria-controls="Slider-{{ section.id }}"
    >
      {%- liquid render 'icon-caret', height: 20, width: 20 -%}
    </button>
  </div>
</slideshow-component>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Review Slideshow HB",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "full_bleed",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "color_background",
      "id": "gradient",
      "label": "Background gradient",
      "info": "Background gradient"
    },
    {
      "type": "range",
      "id": "corner_radius",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Corner radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Border width",
      "default": 0
    },
    {
      "type": "range",
      "id": "review_font_size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Review font size",
      "default": 20
    },
    {
      "type": "font_picker",
      "id": "quote_font",
      "default": "neue_haas_unica_n4",
      "label": "Quote font family"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.label"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "counter",
      "label": "t:sections.slideshow.settings.slider_visual.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile padding bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "Slideshow about our brand"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-7"
    },
    {
      "type": "range",
      "id": "slide_inner_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Slide Inner padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "richtext",
          "id": "review",
          "default": "<p>Best product ever!<\/p>",
          "label": "Review"
        },
        {
          "type": "richtext",
          "id": "quote",
          "default": "<p>John Doe<\/p>",
          "label": "John Doe"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "label": "t:sections.slideshow.blocks.slide.settings.show_text_box.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "five_star",
          "label": "Five star",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "verified_buyer",
          "label": "Verifiyed buyer",
          "default": false
        },
        {
          "type": "select",
          "id": "box_align",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.label",
          "info": "t:sections.slideshow.blocks.slide.settings.box_align.info"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-7"
        },
        {
          "type": "select",
          "id": "text_alignment_mobile",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.label"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "five-star-rating",
      "name": "Five star rating",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "rating",
          "default": "5.0",
          "label": "Rating score"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading text",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
