{{ 'section-multicolumn-hb.css' | asset_url | stylesheet_tag }}
{{ 'component-slider-hb.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }} .title {
    font-size: {{ section.settings.title_font_size }}rem;
    margin-bottom: {{ section.settings.title_margin_bottom }}px;
  }

  .section-{{ section.id }} .subtitle {
    font-size: {{ section.settings.subtitle_font_size }}rem;
    font-family: {{ section.settings.subtitle_font_family }};
    margin-bottom: {{ section.settings.subtitle_margin_bottom }}px;
  }

  .section-{{ section.id }} .column__title {
    font-size: {{ section.settings.column_title_font_size }}rem;
    margin-top: {{ section.settings.column_title_margin_top }}px;
    margin-bottom: {{ section.settings.column_title_margin_bottom }}px;
  }

  .section-{{ section.id }} .column__content {
    font-size: {{ section.settings.column_content_font_size }}rem;
  }

{%- endstyle -%}

{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }} section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin {% if section.settings.title_alignment == 'center' %} title--center{% endif %}">
      <div class="title inline-richtext {{ section.settings.heading_size }}">
        {{ section.settings.title }}
      </div>
      <div class="subtitle">
        {{ section.settings.subtitle }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Title HB",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Multicolumn",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "default": "Subtitle",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 0,
      "unit": "rem",
      "max": 20,
      "step": 0.2,
      "default": 1.6,
      "label": "Title font size"
    },
    {
      "type": "range",
      "id": "title_margin_bottom",
      "min": 0,
      "unit": "px",
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Title margin bottom"
    },
    {
      "type": "font_picker",
      "id": "subtitle_font_family",
      "default": "assistant_n4",
      "label": "Subtitle font family"
    },
    {
      "type": "range",
      "id": "subtitle_font_size",
      "min": 0,
      "unit": "rem",
      "max": 20,
      "step": 0.2,
      "default": 1.6,
      "label": "Subtitle font size"
    },
    {
      "type": "range",
      "id": "subtitle_margin_bottom",
      "min": 0,
      "unit": "px",
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Subtitle margin bottom"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [],
  "presets": []
}
{% endschema %}
